@media (max-width: 940px) { /* MOBILE */
  /* div {
    border-radius: 100em;
  } */

  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .title {
    font-size: 4.9rem;
  }

  .holes-or-shafts-title {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
  }

  .holes-or-shafts {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "holes-or-shafts-title"
      "holes-or-shafts-buttons";
  }

  .holes-or-shafts-buttons {
    justify-content: space-around;
  }

  .buttons-holes-or-shafts {
    width: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .inputs {
    grid-template-columns: minmax(0, 1fr) minmax(0, 14rem);
    /* grid-template-columns: minmax(0, auto) minmax(0, 9.3em); */
  }

  .button-calculate {
    width: minmax(0, 14rem);
  }
  
  .result-subcontainer {
    grid-template-columns: minmax(0, 1fr) minmax(0px, 2em);
    grid-template-areas:
      "result-main result-show-hide"
      "result-more result-more";
  }

  .result-main {
    font-size: 0.8em;
  }

  .result-min, .result-max {
    width: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
  }

  .result-more {
    padding-left: 0;
    border: 0;
  }

  .error-message {
    font-size: 2rem;
  }

  .inputs * {
    font-size: 2.7rem;
  }

  .results-title {
    font-size: 3rem;
  }

  select {
    background-position : 90% center;
  }

}