@media (max-width: 940px) { /* MOBILE */
  /* div {
    border-radius: 100em;
  } */

  .tc-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .tc-title {
    font-size: 2.45rem;
  }

  .holes-or-shafts-title {
    font-size: 1.3rem;
    margin-bottom: 5rem;
  }

  .holes-or-shafts {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "holes-or-shafts-title"
      "holes-or-shafts-buttons";
  }

  .holes-or-shafts-buttons {
    justify-content: space-around;
  }

  /* .tc-wrapper .buttons-holes-or-shafts {
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  } */
  
  .tc-inputs {
    /* grid-template-columns: minmax(0, 1fr) minmax(0, 14rem); */
    grid-template-columns: minmax(0, auto) minmax(0, 9.3em);
  }

  .button-calculate {
    width: minmax(0, 14rem);
  }
  
  .tc-result-subcontainer {
    grid-template-columns: minmax(0, 1fr) minmax(0px, 2em);
    grid-template-areas:
      "tc-result-main tc-result-show-hide"
      "tc-result-more tc-result-more";
  }

  .tc-result-main {
    font-size: 0.8em;
  }

  .result-min, .result-max {
    width: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
  }

  .tc-result-more {
    padding-left: 0;
    border: 0;
  }

  .tc-error-message {
    font-size: 1rem;
  }

  .tc-inputs * {
    font-size: 1.35rem;
  }

  .tc-results-title {
    font-size: 1.5rem;
  }

  .tc-wrapper select {
    background-position : 96% center;
  }

}