@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  white-space: nowrap;
  /* overflow: hidden; */
}

.tc-wrapper, .tc-wrapper button, .tc-wrapper input, .tc-wrapper select {
  font-weight: lighter;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.tc-wrapper {
  background-color: black;
  font-size: 50%;
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(0, auto);
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "tc-container";
}

.tc-container {
  grid-area: tc-container;
  padding-left: 2rem;
  padding-right: 2rem;

  display: grid;
  grid-template-columns: minmax(0, 1100px);
  grid-template-rows: auto auto auto auto auto;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "tc-title"
    "holes-or-shafts"
    "tc-inputs"
    "tc-error-message"
    "tc-results-title"
    "tc-results";
}

/* .tc-container div {
  height: 100%;
  color: red;
} */

/* p { height: 0.95em; } */

.tc-title {
  grid-area: tc-title;
  font-size: 2.9rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
  line-height: 0.9em;
}

.holes-or-shafts {
  display: grid;
  grid-template-columns: 1fr minmax(0, 40em);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "holes-or-shafts-title holes-or-shafts-buttons";
  grid-area: holes-or-shafts;
}

.holes-or-shafts-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holes-or-shafts-title {
  grid-area: holes-or-shafts-title;
  font-size: 1.8rem;
  color: rgba(252,146,0,1);
  /* margin-top: 1em; */
  line-height: 0.9em;

  /* align-items:center;
  justify-items: center; */
}

.tc-inputs {
  grid-area: tc-inputs;
  font-size: 1.1rem;
  margin-top: 2em;

  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 14rem);
  /* grid-template-columns: 1fr minmax(0px, 9.3em); */
  grid-template-rows: 1fr 1fr 1fr 0.4fr 1.5fr;
  /* gap: 0px 0px; */
  gap: 0.5rem;
  grid-auto-flow: row;
  grid-template-areas:
    "inputs-diameter-title inputs-diameter-input"
    "inputs-letter-title inputs-letter-input"
    "inputs-number-title input-number-input"
    ". ."
    ". inputs-calculate-button";
  
  align-items: center;
}

.tc-inputs * {
  height: 100%;
  font-size: 1.5rem;
}

.tc-inputs > select {
  height: 100%;
}

.inputs-diameter-title {
  grid-area: inputs-diameter-title;
  padding-right: 0.5em;

  position: relative;
}

.inputs-letter-title {
  grid-area: inputs-letter-title;

  position: relative;
}

.inputs-number-title {
  grid-area: inputs-number-title;

  position: relative;
}

.input-label-underline {
  position: absolute;
  background-color: white;
  border-radius: 100px;
  width: 100%;
  height: 2px;
  bottom: 0;
}

.tc-error-message {
  grid-area: tc-error-message;

  text-align: center;
  height: auto;
  font-style: italic;
  font-size: 1.5rem;
}

.inputs-calculate-button {
  grid-area: inputs-calculate-button;
}

.diameter-input {
  grid-area: diameter-input;

  position: relative;
}

.diameter-input-mm {
  right: 0.5rem;
  top: 0;
  position: absolute;
  color: black;
}

.inputs-letter-input { grid-area: inputs-letter-input; }

.input-number-input { grid-area: input-number-input; }

.tc-results-title {
  grid-area: tc-results-title;
  color: rgba(252,146,0,1);
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.tc-results { grid-area: tc-results; }

.tc-wrapper button {
  border-radius: 10em;
  height: 100%;
  width: 6em;
  border: 0;
}

.tc-wrapper .button-calculate {
  background-color: rgba(252,146,0,1);
  border-radius: 0.5em;
  font-size: 1.5rem;
  width: 100%;
}

/* .tc-wrapper button */
.tc-wrapper .buttons-holes-or-shafts {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  height: auto;
  /* width: auto; */
}

.tc-wrapper .buttons-holes-or-shafts.active {
  background-color: rgba(252,146,0,1);
}

.button-divider {
  background-color: white;
  border-radius: 100px;
  width: 2px;
  height: 37%;
}

.tc-wrapper input, .tc-wrapper select {
  padding-left: 0.75rem;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.5em;
  
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.tc-wrapper select {
  -webkit-appearance: none;
  background-image: url('./img/Polygon\ 2.png');
  background-position : 95% center;
  background-repeat: no-repeat;
}

.tc-wrapper option {
  background-color: white;
}





/* RESULT */

.tc-result-container {
  margin-bottom: 1.5rem;

  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tc-result-subcontainer tc-result-delete"
    "tc-result-subcontainer .";
}

.tc-result-subcontainer {
  background-color: white;
  border-radius: 1em;
  color: black;
  
  font-size: 1.1rem;
  /* margin-bottom: 1em; */
  padding: 0.9rem;

  display: grid;
  grid-template-columns: minmax(0px, 14.5em) 1fr 1fr minmax(0px, 2em);
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: center;
  grid-template-areas:
    "tc-result-main result-min result-max tc-result-show-hide"
    ". tc-result-more tc-result-more tc-result-more";
  grid-area: tc-result-subcontainer;
}

/* .result-subcontainer > div {
  padding: 1em;
} */

.tc-result-delete {
  grid-area: tc-result-delete;
}

.tc-wrapper .tc-button-delete-result {
  margin-top: 0.9rem;
  margin-left: 0.9rem;
  width: 1.85rem;
  height: 1.85rem;
  
  background-image: url('./img/paperbin.png');
  background-position : center;
  background-repeat: no-repeat;

  background-color: transparent;
}

/* .tc-result-subcontainer.active {
  padding-top: 0;
  padding-left: 1.5rem;
  grid-template-rows: 2.5rem auto;
} */

.tc-result-main { grid-area: tc-result-main; }

.tc-space-right {
  padding-right: 1rem;
}

.result-min {
  grid-area: result-min;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-left: black solid 1px;
}

.result-max { grid-area: result-max; }

.tc-result-more {
  grid-area: tc-result-more;
  padding-left: 1.5rem;
  border-left: black solid 1px;
  /* white-space: nowrap;
  overflow: hidden; */
}

/* show more */

.tc-result-subcontainer.active > .tc-result-more {
  padding-top: 1rem;

}

.tc-result-subcontainer.active > .tc-result-more > p {
  font-size: 1em;
  height: 1.7rem;
}

/* dont show more */
.tc-result-more > p {
  height: 0;
  font-size: 0;
}

.tc-result-show-hide {
  grid-area: tc-result-show-hide;
  /* text-align: end;
  justify-content: end; */
  
  text-align: end;
}

.tc-wrapper .tc-result-show-hide-button {
  
  color: white;
  background-color: rgba(252,146,0,1);
  width: 1.85rem;
  /* height: 1.85rem; */
  font-size: 1.2rem;
}